name: Deploy
run-name: Deploy ${{ github.ref_name }}, by ${{ github.actor }}
on:
  push:
    branches:
      - stable
      - beta
      - alpha
jobs:
  run_lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/iron
      - name: Cleanup cache lock
        run: |
          jq '.version = "0.0.0"' package-lock.json > temp.json && mv temp.json package-lock.json
          jq '.packages."".version = "0.0.0"' package-lock.json > temp.json && mv temp.json package-lock.json
      - name: Cache
        id: cache-npm
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          path: |
            ~/.npm
            ./node_modules
          key: ${{ runner.os }}-cache-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: |
          [ -d ./node_modules ] && echo "cached" || npm ci
      - name: Lint
        run: npm run lint
  run_unit_test:
    name: Unit test
    runs-on: ubuntu-latest
    services:
      pg:
        image: postgres:alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/iron
      - name: Cleanup cache lock
        run: |
          jq '.version = "0.0.0"' package-lock.json > temp.json && mv temp.json package-lock.json
          jq '.packages."".version = "0.0.0"' package-lock.json > temp.json && mv temp.json package-lock.json
      - name: Cache
        id: cache-npm
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          path: |
            ~/.npm
            ./node_modules
          key: ${{ runner.os }}-cache-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: |
          [ -d ./node_modules ] && echo "cached" || npm ci
      - name: Unit test
        env:
          TEST_DB_PASSWORD: postgres
          TEST_DB_HOST: localhost
          TEST_DB_PORT: 5432
          TEST_DB_USER: postgres
          TEST_DB_NAME: postgres
        run: npm run test
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip deploy]') && github.forced == false"
    permissions:
      id-token: write
      contents: write
    needs:
      - run_lint
      - run_unit_test
    steps:
      - uses: actions/checkout@v4
      - uses: dcarbone/install-jq-action@v2.1.0
      - uses: aws-actions/configure-aws-credentials@v4
        if: github.ref_name == 'alpha' || github.ref_name == 'beta'
        with:
          role-to-assume: arn:aws:iam::126294557793:role/github-action-kiosk-dev
          aws-region: ap-southeast-1
      - uses: aws-actions/configure-aws-credentials@v4
        if: github.ref_name == 'stable'
        with:
          role-to-assume: arn:aws:iam::795498269391:role/github-action-kiosk-prod
          aws-region: ap-southeast-1
      - name: Setup git
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
      - uses: actions/setup-node@v4
        with:
          node-version: lts/iron
      - name: Bump prerelease alpha
        if: github.ref_name == 'alpha'
        run: |
          BARE_VERSION=$(jq -r '.version' package.json | sed -E 's/-(alpha|beta)\.[[:digit:]]+//')
          echo "BARE_VERSION: $BARE_VERSION"
          (jq -r '.version' package.json | grep -E '\d+\.\d+\.\d+-alpha\.\d+' && npm version prerelease -m "[skip ci] Release %s") || npm version "$BARE_VERSION-alpha.0" -m "[skip ci] Release %s" --allow-same-version
          git push
      - name: Bump prerelease beta
        if: github.ref_name == 'beta'
        run: |
          BARE_VERSION=$(jq -r '.version' package.json | sed -E 's/-(alpha|beta)\.[[:digit:]]+//')
          echo "BARE_VERSION: $BARE_VERSION"
          (jq -r '.version' package.json | grep -E '\d+\.\d+\.\d+-beta\.\d+' && npm version prerelease -m "[skip ci] Release %s") || npm version "$BARE_VERSION-alpha.0" -m "[skip ci] Release %s" --allow-same-version
          git push
      - name: Bump release
        if: github.ref_name == 'stable'
        run: |
          BARE_VERSION=$(jq -r '.version' package.json | sed -E 's/-(alpha|beta)\.[[:digit:]]+//')
          npm version "$BARE_VERSION" -m "[skip ci] Release %s" --allow-same-version
          git push
      # has to be after the bump and versioning pushed, stash will be dirty
      - name: Cleanup cache lock
        run: |
          jq '.version = "0.0.0"' package-lock.json > temp.json && mv temp.json package-lock.json
          jq '.packages."".version = "0.0.0"' package-lock.json > temp.json && mv temp.json package-lock.json
      - name: Cache
        id: cache-npm
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          path: |
            ~/.npm
            ./node_modules
          key: ${{ runner.os }}-cache-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: |
          [ -d ./node_modules ] && echo "cached" || npm ci
      - name: Generate internal api key
        run: |
          INTERNAL_API_KEY="$(node -p "require('crypto').randomBytes(64).toString('hex')")"
          echo "INTERNAL_API_KEY=$INTERNAL_API_KEY" >> $GITHUB_ENV
      - name: Deploy to alpha
        if: github.ref_name == 'alpha'
        env:
          LAMBDA_SIZE: "384"
          COOKIE_SECRET: ${{ secrets.COOKIE_SECRET }}
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DB_USER: ${{ secrets.DB_USER }}
          NODE_ENV: production
          S3_CORS_ALLOWED_ORIGIN: https://queue-dev.pranaga.com
          S3_IMAGE_BUCKET: ${{ secrets.S3_IMAGE_BUCKET }}
          SMTP_HOST: ${{ secrets.SMTP_HOST }}
          SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
          SMTP_PORT: ${{ secrets.SMTP_PORT }}
          SMTP_USER: ${{ secrets.SMTP_USER }}
          TZ: Asia/Jakarta
          VAPID_PRIVATE_KEY: ${{ secrets.VAPID_PRIVATE_KEY }}
          VAPID_PUBLIC_KEY: ${{ secrets.VAPID_PUBLIC_KEY }}
          VITE_S3_BASE_URL: ${{ secrets.VITE_S3_BASE_URL }}
          INTERNAL_API_KEY: ${{ env.INTERNAL_API_KEY }}
          PRANAGA_ENV: alpha
        run: |
          ./node_modules/.bin/cdk deploy
      - name: Deploy to beta
        if: github.ref_name == 'beta'
        env:
          LAMBDA_SIZE: "768"
          COOKIE_SECRET: ${{ secrets.COOKIE_SECRET }}
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DB_USER: ${{ secrets.DB_USER }}
          NODE_ENV: production
          S3_CORS_ALLOWED_ORIGIN: https://queue-dev.pranaga.com
          S3_IMAGE_BUCKET: ${{ secrets.S3_IMAGE_BUCKET }}
          SMTP_HOST: ${{ secrets.SMTP_HOST }}
          SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
          SMTP_PORT: ${{ secrets.SMTP_PORT }}
          SMTP_USER: ${{ secrets.SMTP_USER }}
          TZ: Asia/Jakarta
          VAPID_PRIVATE_KEY: ${{ secrets.VAPID_PRIVATE_KEY }}
          VAPID_PUBLIC_KEY: ${{ secrets.VAPID_PUBLIC_KEY }}
          VITE_S3_BASE_URL: ${{ secrets.VITE_S3_BASE_URL }}
          PRANAGA_ENV: beta
        run: |
          ./node_modules/.bin/cdk deploy
      - name: Deploy to prod
        if: github.ref_name == 'stable'
        env:
          LAMBDA_SIZE: "1024"
          COOKIE_SECRET: ${{ secrets.COOKIE_SECRET }}
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DB_USER: ${{ secrets.DB_USER }}
          NODE_ENV: production
          S3_CORS_ALLOWED_ORIGIN: https://kiosk.pranaga.com
          S3_IMAGE_BUCKET: ${{ secrets.S3_IMAGE_BUCKET_PROD }}
          SMTP_HOST: ${{ secrets.SMTP_HOST }}
          SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
          SMTP_PORT: ${{ secrets.SMTP_PORT }}
          SMTP_USER: ${{ secrets.SMTP_USER }}
          TZ: Asia/Jakarta
          VAPID_PRIVATE_KEY: ${{ secrets.VAPID_PRIVATE_KEY }}
          VAPID_PUBLIC_KEY: ${{ secrets.VAPID_PUBLIC_KEY }}
          VITE_S3_BASE_URL: ${{ secrets.VITE_S3_BASE_URL_PROD }}
          PRANAGA_ENV: stable
        run: |
          ./node_modules/.bin/cdk deploy
      - name: Notify deployment dev
        if: github.ref_name == 'alpha' || github.ref_name == 'beta'
        env:
          HOST: https://queue-dev.pranaga.com
        run: |
          NEW_VERSION="$(jq -r '.version' package.json)"
          curl -X POST "${{ env.HOST }}/api/internal-action" \
            -H "x-api-key: ${{ env.INTERNAL_API_KEY }}" \
            -H "Content-Type: application/json" \
            --data '{"_action": "NOTIFICATION_NEW_VERSION", "version": "'"$NEW_VERSION"'", "environment": "${{ github.ref_name }}"}'
      - name: Notify deployment prod
        if: github.ref_name == 'stable'
        env:
          HOST: https://kiosk.pranaga.com
        run: |
          NEW_VERSION="$(jq -r '.version' package.json)"
          curl -X POST "${{ env.HOST }}/api/internal-action" \
            -H "x-api-key: ${{ env.INTERNAL_API_KEY }}" \
            -H "Content-Type: application/json" \
            --data '{"_action": "NOTIFICATION_NEW_VERSION", "version": "'"$NEW_VERSION"'", "environment": "${{ github.ref_name }}"}'
