name: Test
run-name: "Test #${{ github.event.pull_request.number }} ${{ github.event.pull_request.head.ref }}, by ${{ github.actor }}"
on:
  pull_request:
    branches:
      - stable
    types:
      - opened
      - reopened
      - ready_for_review
      - synchronize
jobs:
  run_lint:
    name: Lint
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false && github.event.pull_request.state == 'open'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/iron
      - name: Cleanup cache lock
        run: |
          jq '.version = "0.0.0"' package-lock.json > temp.json && mv temp.json package-lock.json
          jq '.packages."".version = "0.0.0"' package-lock.json > temp.json && mv temp.json package-lock.json
      - name: Cache
        id: cache-npm
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          path: |
            ~/.npm
            ./node_modules
          key: ${{ runner.os }}-cache-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: |
          [ -d ./node_modules ] && echo "cached" || npm ci
      - name: Lint
        run: npm run lint
  run_unit_test:
    name: Unit test
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false && github.event.pull_request.state == 'open'
    services:
      pg:
        image: postgres:alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/iron
      - name: Cleanup cache lock
        run: |
          jq '.version = "0.0.0"' package-lock.json > temp.json && mv temp.json package-lock.json
          jq '.packages."".version = "0.0.0"' package-lock.json > temp.json && mv temp.json package-lock.json
      - name: Cache
        id: cache-npm
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          path: |
            ~/.npm
            ./node_modules
          key: ${{ runner.os }}-cache-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: |
          [ -d ./node_modules ] && echo "cached" || npm ci
      - name: Unit test
        env:
          TEST_DB_PASSWORD: postgres
          TEST_DB_HOST: localhost
          TEST_DB_PORT: 5432
          TEST_DB_USER: postgres
          TEST_DB_NAME: postgres
        run: npm run test
